<h1>Login</h1>
<p id="notice"><%= params[:notice] %></p>
<%= form_for(@user, :url => {:controller => "sessions", :action => "login_process"}) do |f| %>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>