<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
  </thead>
</table>
<br>

<%= link_to 'New Employee', new_employee_path %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": "../employees.json",
        "columns" : [
          {data: 'first_name'},
          {data: 'last_name'},
          {
            data: 'company',
            render: function(data, type) {
              return '<a href="/companies/'+ data.id +'/edit" target="_blank">'+ data.name +'</a>';
            }
          },
          {data: 'email'},
          {data: 'phone'},
          {
            data: 'id',
            render: function(data, type) {
              return '<a href="/employees/'+ data +'/edit">Edit</a>&nbsp;<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/employees/'+ data +'">Destroy</a>';
            }
          }
        ]
    } );
} );
</script>