<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Logo</th>
      <th>Website</th>
      <th>Action</th>
    </tr>
  </thead>
</table>

<br>

<%= link_to 'New Company', new_company_path %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": "../companies.json",
        "columns" : [
          {data: 'name'},
          {data: 'email'},
          {
            data: 'logo_uid',
            render: function(data, type) {
              return '<img src="/assets/'+ data +'" width=150" height="70">';
            }
          },
          {data: 'website'},
          {
            data: 'id',
            render: function(data, type) {
              return '<a href="/companies/'+ data +'/edit">Edit</a>&nbsp;<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/companies/'+ data +'">Destroy</a>';
            }
          }
        ]
    } );
} );
</script>