<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @company.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Logo uid:</strong>
  <%= @company.logo_uid %>
</p>

<p>
  <strong>Logo name:</strong>
  <%= @company.logo_name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
