<!DOCTYPE html>
<html>
<head>
  <title>GrTech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
 
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%
if session[:email].present? && session[:authn_token].present?
%>
<h3>Welcome <%= session[:email] %>, <a href="/logout">Logout</a></h3>
<h3><a href="/home">Home</a>
<%
if session[:email] != "user@grtech.com.my"
%>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/companies">Company</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/employees">Employee</a></h3>
<%
end
%>
<%
end
%>
<%= yield %>

</body>
</html>
